.shop, .cart {
    text-align: center;
    width: 70%;
    margin: auto;
}

.cart {
    display: flex;
    justify-content: space-between;
    margin-bottom: 15px;
}

.item-container {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

#cart-items {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.item-card {
    border-top: 1px solid #023047;
    /* padding: 25px;
    width: 250px;
    height: 250px; */
    margin: 15px 5px;
    border-radius: 10px;
    overflow: hidden;
}

.item-card-info {
    background-color: #219ebc;
    padding-top: 10px;
    padding-bottom: 20px;
    border-top: 1px solid #023047;
}

.item-card-name {
    font-size: 1.2rem;
    font-weight: 600;
}

.item-card-price{
    font-size: 1.5rem;
    font-weight: 600;
    margin: 10px;
}

.item-card-qty {
    font-size: 1.3rem;
    margin: 0px 10px;
}

.item-card-btn {
    padding: 5px 35px;
    outline: none;
    font-size: 1rem;
}

.cart-btn {
    width: 35px;
    height: 35px;
    /* padding: 10px 10px; */
    outline: none;
    font-size: 1.5rem;
    cursor: pointer;
    border-radius: 50%;
    border-top: 1px solid #023047;
}

.cart-btn-info {
    display: flex;
    justify-content: center;
    margin-bottom: 5px;
}

.cart-totals {
    width: 350px;
    height: 200px;
    margin-top: 15px;
    padding: 10px;
    border-top: 1px solid #023047;
    border-radius: 10px;    
    text-align: center;
    background-color: #219ebc;
}

.cart-totals-info {
    text-align: left;
    margin-bottom: 10px 0px;
    font-size: 1.5rem;
}

.cart-total-bold {
    font-weight: 800;
}

.cart-btn-checkout {
    padding: 5px 35px;
    outline: none;
    font-size: 1rem;
    margin-top: 10px;
}

table {
    width: 100%;
}

button {
    background-color: #ffb703;
    outline: none;
    border: none;
    color: #023047;
    cursor: pointer;
}

button:hover {
    background-color: #fb8500;

}

/* Color Pallete */
/* 
8ecae6 - navy blue
219ebc - light blue
023047 - dark blue
ffb703 - gold
fb8500 - orange
*/